body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

.menu {
  position: fixed;
	list-style: none;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(#0F0B39, #271B91);
	paggind: 10px 15px;
  z-index: 1;
}

.menu li {
	display: inline-block;
	margin: 20px 0 20px 40px;
}

.menu a {
	text-decoration: none;
	border: 2px solid white;
	color: yellow;
	font-size: 20px;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 0 #2333C3;
	font-weight: bold;
	background-color: rgb(255, 0, 0);
}

.menu a:hover {
  color: white;
	background-image: linear-gradient(#0F0B39, #271B91);
}

.menu .tel {
	background-color: yellow;
	color: red;
	margin-left: 190px;
  margin-right: 40px;
}

.menu .tel:hover {
	color: red;
}

.part1 {
background: url("dom.png") no-repeat;
background-size: 100%;
height: 1000px;
}

.part1 .slova {
  color: white;
	font-size: 20px;
	font-weight: bold;
}

.part1 .slova .fir {
	font-size: 65px;
	float: right;
	border: 5px solid white;
	border-radius: 5px;
	background-color: rgba(255, 0, 0, 0.9);
	margin-right: 50px;
  margin-top: 160px;
	padding: 15px;
  box-shadow: 3px 3px 3px 0 #2333C3;
}

.yel {
	color: yellow;
}

.sin {
  color: #271B91;
}

.part1 .slova .sec {
	font-size: 30px;
	float: right;
	border: 5px solid white;
	border-radius: 5px;
	background-color: rgba(255, 0, 0, 0.9);
	margin-right: 50px;
	padding: 15px;
	text-align: center;
	margin-top: -50px;
	box-shadow: 3px 3px 3px 0 #2333C3;
}

#about {
	background-image: linear-gradient(#271B91, #0F0B39);
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 50px;
}


.knopka {
	text-decoration: none;
	border: 2px solid white;
	color: yellow;
	font-size: 20px;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 0 #2333C3;
	font-weight: bold;
	background-color: rgb(255, 0, 0);
  margin: 50px;
}

.knopka:hover {
  background-image: linear-gradient(#0F0B39, #271B91);
	color: white;
}

#mesto {
	background-image: linear-gradient(#0F0B39, #271B91);
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	padding: 50px;
  height: 950px;
}

.karta {
	float: left;
}

.strelka {
	width: 50%;
	height: 50%;
	float: right;
  margin-left: 50px;
}

.minut {
  font-size: 25px;
}

#vam {
  background-image: linear-gradient(#271B91, #0F0B39);
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-top: -35px;
  text-align: center;
  padding-bottom: 50px;
}

footer {
  background-image: linear-gradient(#0F0B39, #271B91);
  margin-top: -20px;
  color: white;
  font-size: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

footer div {
  margin: 0 100px;
}

footer div img {
  width: 40px;
  height: 40px;
  padding-left: 30px;
}

footer div a{
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

#prices {
  background-image: linear-gradient(#271B91, #0F0B39);
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

#prices table {
  margin: 0 20px;
}

#prices td {
  border-bottom: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}

#prices a {
  text-decoration: none;
  color: yellow;
}

#prices a:hover {
  color: white;
}

.grey {
  color: #B3C5FF;
}

#otziv1 {
  background-image: linear-gradient(#271B91, #0F0B39);
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  margin-bottom: -45px;
}

#otziv2 {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#0F0B39, #271B91);
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

#otziv2 div {
  width: 600px;
  font-size: 20px;
  margin: 0 40px;
}

#otziv2 .italic {
  font-style: italic;
}

#otziv3 {
  background-image: linear-gradient(#271B91, #0F0B39);
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  height: 250px;
  margin-top: -10px;
  padding-top: 15px;
  padding-bottom: 150px;
}

#otziv3 input {
  margin-left: 20px;
  width: 200px;
  height: 30px;
  border: 3px solid #2333C3;
  background-color: #B3C5FF;
}

#otziv3 .otpravka {
  background-color: yellow;
  color: red;
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  height: 50px;
  margin-top: 20px;
}

#otziv3 .otpravka:hover {
  background-image: linear-gradient(#271B91, #0F0B39);
  border: 3px solid white;
  color: white;
}

#conditions {
  background-image: linear-gradient(#271B91, #0F0B39);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

#rooms {
  background-image: linear-gradient(#271B91, #0F0B39);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

#rooms a {
  color: white;
  text-decoration: none;
}

#rooms a:hover {
  color: yellow;
  border: 10px solid red;
}

#rooms table {
  margin: 20px 100px;
}
#rooms td {
  padding: 20px 50px;
}

#rooms img {
  width: 450px;
}
#nomermain {
    background-image: linear-gradient(#271B91, #0F0B39);
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 90px;
    margin-bottom: -50px;
}

#nomer{
  width: 450px;
  margin: 40px auto;
}

.slider {
  position: relative;
}

.slider input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 500%;
}

.slider-slides img {
  width: 450px;
  height: 320px;
  float: left;
}

.slider-controls{
  margin-bottom: 10px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  margin: 0 3px;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"],
#btn-5:checked ~ .slider-controls label[for="btn-5"] {
  background-color: yellow;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-450px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-900px);
}

#btn-4:checked ~ .slider-inner .slider-slides {
  transform: translate(-1350px);
}

#btn-5:checked ~ .slider-inner .slider-slides {
  transform: translate(-1800px);
}

#knopki {
  margin-top: 50px;
}

@media screen and (max-width: 425px) {
.menu {
  position: relative;
  width: 100%;
}
.menu li {
  margin: 15px;
}
.menu .tel {
  margin: 15px;
}
.part1 {
  background-color: #271B91;
  height: 400px;
  margin-bottom: -5px;
}
.part1 .slova .fir {
  font-size: 20px;
  margin: 0;
  margin: 300px 10px 10px 10px;
  padding: 3px;
}
.part1 .slova .sec {
  font-size: 15px;
  margin: 10px;
  padding: 5px;
}
#about {
  font-size: 17px;
}
#mesto {
  font-size: 17px;
  margin-top: -5px;
  padding: 20px;
  display: block;
}
.karta {
  width: 300px;
  height: 200px;
  margin: 0 auto 0 auto;
  padding: 0;
  float: none;
}
.strelka {
  width: 300px;
  height: auto;
  margin: 15px auto 0 auto;
  float: none;
}
.minut {
  margin: 10px auto 0 aut0;
  font-size: 15px;
}
#vam {
  margin-top: -150px;
  font-size: 17px;
}
footer {
  display: block;
  padding-top: -20px;
}
footer div {
  margin: 20px;
  text-align: center;
  font-size: 15px;
}
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .menu {
    position: relative;
    width: 100%;
  }
  .part1 {
    width: 100%;
    background-color: #271B91;
    height: 750px;
    margin-bottom: -5px;
  }
  .part1 .slova .fir {
    font-size: 40px;
    margin: 0;
    margin: 550px 10px 10px 10px;
    padding: 3px;
  }
  .part1 .slova .sec {
    font-size: 25px;
    margin: 10px;
    padding: 5px;
  }
  #about {
    font-size: 25px;
  }
  #mesto {
    font-size: 25px;
    margin-top: -5px;
    padding: 20px;
    display: block;
  }
  .karta {
    width: 400px;
    height: 300px;
    margin: 0 auto 0 auto;
    padding: 0;
    float: none;
  }
  .strelka {
    width: 400px;
    height: auto;
    margin: 15px auto 0 auto;
    float: none;
  }
  .minut {
    margin: 10px auto 0 aut0;
    font-size: 20px;
  }
  #vam {
    margin-top: -10px;
    font-size: 17px;
    padding-top: 30px;
  }
  footer {
    display: block;
    padding-top: -20px;
  }
  footer div {
    margin: 20px;
    text-align: center;
    font-size: 15px;
  }
}
